[user]
  name = Patrick Fong
  email = patrickf3139@gmail.com
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  editor = subl -nw
[pager]
  diff = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS --pattern '^(Date|added|deleted|modified|renamed): '
  show = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS --pattern '^(Date|added|deleted|modified|renamed): '
  branch = false
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(normal)%s%C(reset) %C(normal)  [%an]%C(reset)'
  dc = diff --cached
  st = status
  br = branch
  co = checkout
  amend = commit -a --amend --no-edit
