# Ignore every default folder in Home directory created by macOS
.Trash
Applications
Desktop
Documents
Downloads
Dropbox
Movies
Music
Pictures
Public

# Ignore other code
Code

# Ignore other common folders
.asdf
.aws
.cache
.local
.ssh
.vscode

# Ignore CLI history files
.bash_history
.lesshst
.node_repl_history
.psql_history
.python_history
.scala_history
.viminfo

# Ignore where hub and gh store GitHub access tokens
.config/hub
.config/gh/hosts.yml
