# Ignore every default folder in Home directory created by macOS
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
.Trash

# Ignore other code
Code

# Ignore other common folders
.cache
.local
.ssh

# Ignore CLI history files
.python_history
.scala_history
.lesshst
.psql_history
.node_repl_history
