[user]
  name = Patrick Fong
  email = patrickf3139@gmail.com
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  editor = subl -nw
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(black)%s%C(reset) %C(black)  [%an]%C(reset)'
  dc = diff --cached
  st = status
  br = branch