[user]
  email = patrickf3139@gmail.com
  name = Patrick Fong
[push]
  default = simple
[pull]
  ff = only
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[pager]
  branch = false
  diff = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS --pattern '^(Date|added|deleted|modified|renamed): '
  show = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS --pattern '^(Date|added|deleted|modified|renamed): '
[alias]
  aliases = config --get-regexp ^alias\\.
  amend = commit --all --amend --no-edit
  br = branch
  co = checkout
  d = diff
  dc = diff --cached
  fp = push --force
  lg = log --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n          %C(normal)%s%C(reset)   %C(dim normal)[%an]%C(reset)'
  rb = push --set-upstream origin HEAD
  rh = reset --hard
  st = status --short
  undo = "reset --hard HEAD^"
[diff]
  algorithm = patience
[fetch]
  prune = true
[init]
	defaultBranch = main
